//- index.pug
doctype html
html
  include includes/head.pug
  body
    h1 My Site
    #react-root
    p Welcome to my super lame site.

    script(src='./js/lib/react.js')
    script(src='./js/lib/react-dom.js')

    <!-- Main -->

    script(src='ide.bundle.js')  
    
    include includes/foot.pug